/* CSS files add styling rules to your content */

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #C0FFB2;
  margin: 1%;
  font-size: 18px;
}


.btn,
p.itemPara,
p {
  margin: 5px;
}

dd,
dt,
h1,
p {
  margin: 5px;
}

a {
  text-decoration: underline;
  line-height: 22px;
}

p {
  color: black;
  line-height: 22px;
}

a.itemLink,
p.itemPara {
  float: left;
  display: inline-block;
  border-radius: 12px;
  background-color: #C0FFB2;
}

a.itemLink{
  font-weight:bold;
}

.filterDiv,
.show {
  float: left;
  width: 100%;
}

.filterDiv,
.show,
.btn {
  margin: 2px 2px;
}

.filterDiv {
  display: none;
}


.show {
  display: inline-block;
}

#myBtnContainer {
  margin-bottom: 20px;
}

.container {
  margin-bottom: 20px;
  overflow: hidden;
}


/* Style the buttons */
.btn {
font-family: "Courier new", Courier, monospace;
  border-radius: 12px;
  background-color: #C0FFB2;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
    background-color: #CFFFBA;
    color: white;
}

.btn.active {
  background-color: #FFFFFF;
  color: white;
  border: 1px solid #111;
}

footer {
    display: flex;
    flex-direction: column;
}

.foot-right {
    position: absolute;
    right:1em;
    bottom:0;

}

.about {
    max-width: 80%;
}
